<form action="@Url.Action("ConfirmarSobre","Home")" method="post">
<input type="hidden" name="sobre" value = "@ViewBag.Sobre" />

    @foreach (Jugadores jugador in ViewBag.Sobre)
    {
        

        <p>@jugador.nombre</p>
        <p>@jugador.posicion</p>
        <p>@jugador.numeroCamiseta</p>
    }

    <input type="submit" value="Confirmar Sobre"/>

</form>